#### Q1. Create one variable containing following type of data: (i) string   (ii) list  (iii) float   (iv) tuple

In [1]:
a=["ram",45.5,(5,)]

#### Q2. Given are some following variables containing data:  (i) var1 = ‘ ‘(ii) var2 = ‘[ DS , ML , Python]’(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ](iv) var4 = 1.     What will be the data type of the above given variable.

### Answer    (i) null   (ii) String    (iii) List    (iv) integer

Q3. Explain the use of the following operators using an example:
(i) /     Division
(ii) %     modulus
(iii) //   floor division
(iv) **    Exponential

### Q4  Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [28]:
a=[1,2,3.4,8,9,"ram","nitin",9,10]
for i in a:
    print(i)
    i=+1

1
2
3.4
8
9
ram
nitin
9
10

### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [29]:
a=200
b=2
count=0
while a>b and a%b==0:
    a=a/b
    print(a)
    count+=1
if count>0:
     print(count)
else:
    print("not divisible")

100.0
50.0
25.0
3

### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element isdivisible by 3 or not.

In [27]:
a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in a:
    if i%3 == 0:
        print('Divisible', i)
    else:
        print('not')

not
not
Divisible 3
not
not
Divisible 6
not
not
Divisible 9
not
not
Divisible 12
not
not
Divisible 15
not
not
Divisible 18
not
not
Divisible 21
not
not
Divisible 24
not

### Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [ ]:
Mutable datatype are those in which we can change or delete the value of any index number